body {
  background-color: aliceblue;
}

#field {
  /*  background-color: aquamarine;
    border: 1px solid black;
   overflow: hidden;
    width: auto;*/
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  margin-top: 5%;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: beige;
  width: 20%;
  border: 2px solid red;
  margin-right: 5px;
  border-radius: 10px;
}

.btnFormat {
  width: 40%;
  margin: 10px;
}

input {
  width: 40%;
}
label {
  margin: 10px;
}
#pairSize {
  width: 21%;
}

#gameArea {
  display: flex;
  align-items: center;
  background-color: cornflowerblue;
  border: 1px solid green;
  /*  float: left; /* add this */
  width: 70%;
}

.container {
  /*  display: flex; /* or inline-flex 
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
 padding: 5px; */

  display: inline-grid;
  grid-template-columns: auto;
  border-radius: 10px;
  background-color: beige;
  /* border: 2px solid red; */

  /* border: 5px solid black; */
}

.container .card {
  width: 100px;
  height: 100px;
  margin: 5px;

  border-radius: 10px;
}

img {
  /* border: 2px solid rgb(145, 103, 73); */
  border: 2px solid rgb(145, 103, 73);
  border-radius: 10px;
}

.newGame {
  width: 100px;
  height: 20px;
  background-color: aquamarine;
}

.informations {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
  background-color: greenyellow;
  margin: 5px;
  border: 2px solid green;
  border-radius: 10px;
  font-size: large;
}

#pointCounter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: greenyellow;
  margin: 5px;
  border: 2px solid green;
  border-radius: 10px;
  font-size: large;
}
